@model DomainModel.Models.Theme

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )

<div class="container">
    <h2>Thema Details: @Html.DisplayFor( model => model.Title )</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>

        </tr>
        <tr>
            <td>@Html.DisplayFor( model => model.Title )</td>
            <td>@Html.DisplayFor( model => model.Definition )</td>
        </tr>
    </table>

    <p>Behoort toe aan modules:</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Vakcode</th>
                <th>Module</th>
                <th>Omschrijving</th>
            </tr>
        </tbody>
        @foreach ( var item in Model.Module ) {
            <tr>
                <td>@Html.ActionLink( @item.CourseCode.ToString( ), "Details", "Module", new { id = item.Module_ID }, null )</td>
                <td>@item.Title</td>
                <td>@item.Definition_Short</td>
            </tr>
        }
    </table>

    @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditTheme" ) ) {
        @Html.ActionLink( "Aanpassen", "Edit", new { id = Model.Theme_ID }, new { @class = "btn btn-warning" } )
    } |
    @Html.ActionLink( "Terug naar Index", "Index" )
</div>