@model DomainModel.Models.Theme
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
	<h2>Thema Aanpassen: @Html.DisplayFor(model => model.Title)</h2>

	@using(Html.BeginForm("Edit", "Theme", new { ReturnUrl = ViewBag.ReturnUrl },
			FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
	{
		@Html.ValidationSummary(true)
		<fieldset>
			<legend></legend>
			@Html.HiddenFor(model => model.Theme_ID)
			@Html.Partial("_CreateOrEdit", Model)
			<p>
                <input type="submit" value="Thema '@Html.DisplayFor(model => model.Title)' Aanpassen" class="btn btn-success" /> |
				@Html.ActionLink("Terug naar Index", "Index")
			</p>
		</fieldset>
	}
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ThemeScript.js"></script>
    <script src="~/Scripts/Filter.js"></script>
}