@model Waterval.Models.SearchLists

@{
    ViewBag.Title = "Zoekresultaten";
}

<h2>Zoekresultaten</h2>

@using (Html.BeginForm("SearchResults", "Search"))
{
<div class="input-group">
    <input type="text" class="form-control" id="SearchText" placeholder="Zoeken" name="SearchText" width="100">
    <span class="input-group-btn">
        <button class="btn btn-avans" type="submit" id="Search"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>
}
<hr />

<!-- Blocks -->
<button type="button" style="width:100%; text-align:left;" value="Blokken" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseBlocks">
    Blokken<span style="float:right;">(@Model.Blocks.Count)</span>
</button>

<div id="collapseBlocks" class="panel-collapse collapse open">
    <table class="table table-hover">
    @foreach (var item in Model.Blocks) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "../Block/Details", new {  id=item.Block_ID })
            </td>
        </tr>
    }
    </table>
</div>

<!-- LearnLines -->
<input type="button" style="width:100%;" value="Leerlijnen (@Model.LearnLines.Count)" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseLearnLines">

<div id="collapseLearnLines" class="panel-collapse collapse open">
    <table class="table table-hover">
    @foreach (var item in Model.LearnLines) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "../LearnLine/Details", new {  id=item.LearnLine_ID })
            </td>
        </tr>
    }
    </table>
</div>

<!-- Modules -->
<input type="button" style="width:100%;" value="Modules (@Model.Modules.Count)" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseModules">

<div id="collapseModules" class="panel-collapse collapse open">
    <table class="table table-hover">
    @foreach (var item in Model.Modules) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "../Module/Details", new {  id=item.Module_ID })
            </td>
        </tr>
    }
    </table>
</div>

<!-- Competences -->
<input type="button" style="width:100%;" value="Competenties (@Model.Compentences.Count)" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseCompetences">

<div id="collapseCompetences" class="panel-collapse collapse open">
    <table class="table table-hover">
    @foreach (var item in Model.Compentences) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "../Competence/Details", new {  id=item.Competence_ID })
            </td>
        </tr>
    }
    </table>
</div>

<!-- Themes -->
<input type="button" style="width:100%;" value="Thema's (@Model.Themes.Count)" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThemes">

<div id="collapseThemes" class="panel-collapse collapse open">
    <table class="table table-hover">
    @foreach (var item in Model.Themes) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "../Thema/Details", new {  id=item.Theme_ID })
            </td>
        </tr>
    }
    </table>
</div>