
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Thema Overzicht</h2>


    <table class="table-bordered table-striped">
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Aanpassen</th>
            <th>Verwijderen</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("Programmeren", "Details")</td>
            <td>Het leren van programeren</td>

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                @Html.ActionLink("Verwijderen", null, null, new { @class = "btn btn-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Onderzoek", "Details")</td>
            <td>Het leren van een onderzoek doen</td>

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                @Html.ActionLink("Verwijderen", null, null, new { @class = "btn btn-danger" })
            </td>
        </tr>


    </table>

    @Html.ActionLink("Nieuwe Thema", "Index", null, new { @class = "btn btn-success" })
</div>