<div class="panel-group" id="accordionSearch">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" data-target="#collapsSearch">
            <h4 class="panel-title">
                <td>
                    <a class="accordion-toggle btn btn-lg btn-avans">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td><td>Zoekfilter instellen.</td>
            </h4>
        </div>
        <div id="collapsSearch" class="panel-collapse collapse open">
            <div class="panel-body">
                <div><h3 style="margin:0px;">Geavanceerd zoeken</h3><hr style="margin:10px;" /></div>
                <div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            @Html.CheckBox("option1", new {@value = "checked"}) Module
                        </label>
                        <label class="btn btn-default">
                            @Html.CheckBox("option2", new {@value = "checked"}) Leerlijn
                        </label>
                        <label class="btn btn-default">
                            @Html.CheckBox("option3", new {@value = "checked"}) Blok
                        </label>
                        <label class="btn btn-default">
                            @Html.CheckBox("option4", new {@value = "checked"}) Thema
                        </label>
                        <label class="btn btn-default">
                            @Html.CheckBox("option5", new {@checked = "checked"}) Competentie
                        </label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." width="75">
                        <span class="input-group-btn">
                            <button class="btn btn-avans" id="scriptid"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
               </div>
                <table>
                    <tr>
                        <td>Leerlijn</td>
                        <td>Thema</td>
                        <td>Competentie</td>
                        <td>Zoek</td>
                    </tr>
                    <tr>
                        <td>@Html.DropDownList("Leerlijn", (SelectList)@ViewBag.LearnLine, new {@class = "form-control"})</td>
                        <td>@Html.DropDownList("Thema", (SelectList)@ViewBag.Theme, new {@class = "form-control"})</td>
                        <td>@Html.DropDownList("Competentie", (SelectList)@ViewBag.Competence, new {@class = "form-control"})</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." width="75">
                                <span class="input-group-btn">
                                    <button class="btn btn-avans" id="scriptid"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
