<!--
    Removed a line using a Tuple, caused an error. (ps: add a 'apenstaartje' before the model)
    <model Tuple<IEnumerable<DomainModel.Models.LearnLine>, IEnumerable<DomainModel.Models.Theme>, IEnumerable<DomainModel.Models.Competence>>
-->
<div class="panel-group" id="accordionSearch">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" data-target="#collapsSearch">
            <h4 class="panel-title">
                <td>
                    <a class="accordion-toggle btn btn-avans">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </td><td>Zoeken</td>
            </h4>
        </div>
        <div id="collapsSearch" class="panel-collapse collapse open">
            <div class="panel-body">
                <div><h3 style="margin:0px;">Zoeken op</h3></div>
                <table>
                    <tr>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    @Html.CheckBox("option1", new {@value = "checked"}) Module
                                </label>
                                <label class="btn btn-default">
                                    @Html.CheckBox("option2", new {@value = "checked"}) Leerlijn
                                </label>
                                <label class="btn btn-default">
                                    @Html.CheckBox("option3", new {@value = "checked"}) Blok
                                </label>
                                <label class="btn btn-default">
                                    @Html.CheckBox("option4", new {@value = "checked"}) Thema
                                </label>
                                <label class="btn btn-default">
                                    @Html.CheckBox("option5", new {@checked = "checked"}) Competentie
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Zoeken" width="100">
                                <span class="input-group-btn">
                                    <button class="btn btn-avans" id="scriptid"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </td>
                    </tr>
               </table>
                <div><h3 style="margin:10px 0px 0px 0px;">Geavanceerd zoeken</h3></div>
                <table class="table">
                    <tr>
                        <td>Leerlijn</td>
                        <td>@Html.DropDownList("Leerlijn", (SelectList)@ViewBag.LearnLine, new {@class = "form-control"})</td>
                    </tr>
                    <tr>
                        <td>Thema</td>
                        <td>@Html.DropDownList("Thema", (SelectList)@ViewBag.Theme, new {@class = "form-control"})</td>
                    </tr>
                    <tr>
                        <td>Competentie</td>
                        <td>@Html.DropDownList("Competentie", (SelectList)@ViewBag.Competence, new {@class = "form-control"})</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="btn btn-avans" id="scriptid"><span class="glyphicon glyphicon-search"></span> Zoeken</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
