
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Leerlijn Overzicht</h2>
    <input type="text" class="form-control" placeholder="filter leerlijnen...">

    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Aanpassen</th>
            <th>Verwijderen</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("Programeren", "Details")</td>
            <td>Het leren van programeren</td>

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                <input type="button" value="Verwijderen" data-name="Programeren" data-id="1" class="btn btn-danger">
            </td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Onderzoek", "Details")</td>
            <td>Het leren van een onderzoek doen</td>

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                @Html.ActionLink("Verwijderen", null, null, new { @class = "btn btn-danger" })
            </td>
        </tr>
    </table>

    @Html.ActionLink("Nieuwe Leerlijn", "Create", null, new { @class = "btn btn-success" })
</div>

@section Scripts {
    <script>
        $('input[type="button"]').click(function (e) {
            var title = $(this).attr('data-name');
            var id = $(this).attr('data-id');

            if (confirm('Gegevens van ' + title + ' verwijderen?')) {
                var url = "/Blok/Delete";

                $.post(url, { Block_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
                    $("#msg").html(data);
                });
                $(this).closest('tr').remove()
            }
        })
    </script>
}