@model PagedList.IPagedList<DomainModel.Models.AccountLaw>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )




<div class="container">
    <h2>Rechten Overzicht</h2>
    @using ( Html.BeginForm( "Index", "AccountLaw", FormMethod.Get ) ) {
        @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Zoeken in rechten", @class = "form-control" } )
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    }

    <table class="table table-bordered table-striped">
        <tr>
            <th>@Html.ActionLink( "Titel", "Index", new { sortOrder = ViewBag.NameSortParm } )</th>
        </tr>
        <tr>

            @foreach ( var item in Model ) {
            <tr>
                <td>
                    @Html.ActionLink( item.LawName, "Details", new { id = item.Law_ID } )
                </td>
            </tr>
            }
        </table>
    </div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager( Model, page => Url.Action( "Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter } ) )
}
