
@model DomainModel.Models.Workform
@using DomainModel.Models;


    <div class="form-group">
        @Html.Label("Omschrijving", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
<hr />
<p>
    @if (Model.PrevWorkform_ID != null)
    {
        
            @Html.ActionLink("Vorige versie", "Details", new { id = Model.PrevWorkform_ID }, new { @class = "btn btn-avans" })
     
    }

    @if (@ViewBag.NewID > 0)
    {
      
            @Html.ActionLink("Nieuwere versie", "Details", new { id = @ViewBag.NewID }, new { @class = "btn btn-avans" })
  
    }
</p>


<hr />

@Html.Partial("~/Views/Shared/_Alert.cshtml")