@model DomainModel.Models.Module

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    Titel
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    Korte beschrijving
                </td>
                <td>
                    @Html.DisplayFor(model => model.Definition_Short)
                </td>
            </tr>
            <tr>
                <td>
                    Lange Beschrijving
                </td>
                <td>
                    @Html.DisplayFor(model => model.Definition_Long)
                </td>
            </tr>
            <tr>
                <td>
                    Vakcode
                </td>
                <td>
                    @Html.DisplayFor(model => model.CourseCode)
                </td>
            </tr>
            <tr>
                <td>
                    VakCoordinator
                </td>
                <td>
                    @Html.DisplayFor(model => model.Account.Username)
                </td>
            </tr>
            <tr>
                <td>
                    Voorkennis
                </td>
                <td>
                    @Html.DisplayFor(model => model.Foreknowledge)
                </td>
            </tr>
            <tr>
                <td>
                    Ingangsniveau
                </td>
                <td>
                    @Html.DisplayFor(model => model.Entry_Level)
                </td>
            </tr>
        </table>


        <div class="container">
            <p>Leerdoelen</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Doel</th>
                </tr>

                @foreach (var x in Model.LearnGoal.Where(c => c.isDeleted == false))
                {
                    <tr>
                        <td>@Html.DisplayFor(model => x.Description)</td>
                    </tr>
                }
            </table>
        </div>


        <div class="container">
            <p>Leermiddelen</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Leermiddel</th>
                </tr>
                @foreach (var x in Model.LearningTool.Where(c => c.isDeleted == false))
                {
                    <tr>
                        <td>@Html.DisplayFor(model => x.Description)</td>
                    </tr>
                }

            </table>
        </div>

        <div class="container">
            <p>Weekplanning</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Weeknr</th>
                    <th>Onderwerp</th>
                </tr>


               
                    @foreach (var i in Model.WeekSchedule.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.WeekNr)</td>
                            <td>@Html.DisplayFor(model => i.Description)</td>
                        </tr>
                    }

                </table>
            </div>


            <div class="container">
                <p>Beoordelingen</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Onderwerp</th>
                    </tr>
                    @foreach (var x in Model.GradeType.Where(c => c.isDeleted == false))
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => x.GradeDescription)</td>
                            </tr>
                        }
                </table>
            </div>


            <div class="container">
                <p>Toetscode</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Omschrijving</th>
                        <th>EC</th>
                    </tr>

                    @foreach (var i in Model.AssignmentCode.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.Description)</td>
                            <td>@Html.DisplayFor(model => i.EC)</td>
                        </tr>
                    }

                </table>
            </div>

            <div class="container">
                <p>Werkvorm</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Werkvorm</th>
                        <th>Duur</th>
                        <th>Frequentie</th>
                        <th>Studiebelasting</th>
                    </tr>

                    @foreach (var i in Model.ModelWithWorkform.Where(c => c.Workform.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.Workform.Description)</td>
                            <td>@Html.DisplayFor(model => i.Duration) Weken</td>
                            <td>@Html.DisplayFor(model => i.Frequency)</td>
                            <td>@Html.DisplayFor(model => i.Workload)</td>

                        </tr>
                    }
                  
                </table>
            </div>


            <div class="container">
                <p>Leerlijnen</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Naam</th>
                        <th>Omschrijving</th>
                    </tr>

                    @foreach (var i in Model.LearnLine.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.ActionLink(i.Title, "../Leerlijn/Details", new { id = i.LearnLine_ID })</td>

                            <td>@Html.DisplayFor(model => i.Definition)</td>
                        </tr>
                    }

                </table>
            </div>


            <div class="container">
                <p>Opleiding</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Cohort</th>
                    </tr>

                    @*@foreach (var i in Model.Program.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.ActionLink(i.Cohort, "../Program/Details", new { id = i.Program_ID })</td>
                        </tr>
                    }*@

                </table>
            </div>

            <div class="container">
                <p>Studierichting</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Onderwerp</th>
                    </tr>
                    @*@foreach (var i in Model.Study.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.ActionLink(i.Title, "../Study/Details", new { id = i.Study_ID })</td>
                        </tr>
                    }*@

                </table>
            </div>


            <div class="container">
                <p>Thema's</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Naam</th>
                        <th>Omschrijving</th>
                    </tr>

                    @foreach (var i in Model.Theme.Where(c => c.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.ActionLink(i.Title, "../Theme/Details", new { id = i.Theme_ID })</td>
                            <td>@Html.DisplayFor(model => i.Definition)</td>
                        </tr>
                    }

                </table>

            </div>

            <div class="container">
                <p>Compententie's</p>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Titel</th>
                        <th>Omschrijving</th>
                    </tr>
                    @foreach (var i in Model.Level.Where(c => c.Competence.isDeleted == false))
                    {
                        <tr>
                            <td>@Html.ActionLink(i.Competence.Title, "../Competence/Details", new { id = i.Competence_ID })</td>
                            <td>@Html.DisplayFor(model => i.Competence.Definition_Short)</td>
                        </tr>
                    }
                </table>

            </div>

        </fieldset>

        <p>
            @Html.ActionLink("Aanpassen", "Edit", null, new { id = Model.Module_ID }, new { @class = "btn btn-warning" })
            <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />|
            @Html.ActionLink("Terug naar Index", "Index")
        </p>
    </div>
