
@model Waterval.Models.Modules

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Proj 5</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Titel)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Titel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Beschrijving)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Vakcode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Vakcode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Organisatie)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Organisatie)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Studiebelasting)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Studiebelasting)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Werkvorm)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Werkvorm)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Ingangsniveau)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Ingangsniveau)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Leerdoelen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Leerdoelen)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BeschrijvingLang)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BeschrijvingLang)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beoordelingen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Beoordelingen)
                </td>
            </tr>
        </table>


        <div class="container">
            <p>Thema's</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Naam</th>
                    <th>Omschrijving</th>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Programeren", "Details", "Thema")</td>
                    <td>Het leren van programeren</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Onderzoek", "Details", "Thema")</td>
                    <td>Het leren van Onderzoeken</td>
                </tr>
            </table>

        </div>

        <div class="container">
            <p>Compententie's</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Titel</th>
                    <th>Omschrijving</th>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Procesanalyse uitvoeren", "Details", "Compententie")</td>
                    <td>De student is in staat om een procesanalyse uit te voeren.</td>
                </tr>
            </table>

        </div>

    </fieldset>

    <p>
      @Html.ActionLink("Aanpassen", "Edit", new { modelname = Model.Vakcode }, new { @class = "btn btn-warning" })
        <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />|
        @Html.ActionLink("Terug naar Index", "Index")
    </p>
</div>
