@model DomainModel.Models.Module
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )
<div class="container">
    <h2>Module Details: @Html.DisplayFor(model => model.Title)</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    Titel
                </td>
                <td>
                    @Html.DisplayFor( model => model.Title )
                </td>
            </tr>
            <tr>
                <td>
                    Beschrijving
                </td>
                <td>
                    @Html.DisplayFor( model => model.Definition_Short )
                </td>
            </tr>
            <tr>
                <td>
                    Omschrijving
                </td>
                <td>
                    @Html.DisplayFor( model => model.Definition_Long )
                </td>
            </tr>
            <tr>
                <td>
                    Vakcode
                </td>
                <td>
                    @Html.DisplayFor( model => model.CourseCode )
                </td>
            </tr>
            <tr>
                <td>
                    Vakcoordinator
                </td>
                <td>
                    @Html.DisplayFor( model => model.Account.Username )
                </td>
            </tr>
            <tr>
                <td>
                    Voorkennis
                </td>
                <td>
                    @Html.DisplayFor( model => model.Foreknowledge )
                </td>
            </tr>
            <tr>
                <td>
                    Ingangsniveau
                </td>
                <td>
                    @Html.DisplayFor( model => model.Entry_Level )
                </td>
            </tr>
        </table>


        <input type="button" value="Alles tonen" name="btn_collapseAll" class="btn btn-avans" data-toggle="collapse" data-target="#collapseAll">

        <div id="collapseAll" class="panel-collapse collapse open">
            <br />
            <div class="container">
                <p>Leerdoelen</p>
                <input type="button" value="Leerdoelen tonen" name="btn_collapseLearnGoal" class="btn btn-avans" data-toggle="collapse" data-target="#collapseLearnGoal">

                <div id="collapseLearnGoal" class="panel-collapse collapse open">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Doel</th>
                        </tr>
                        @foreach ( var x in Model.LearnGoal.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => x.Description )</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>


            <div class="container">
                <p>Leermiddelen</p>
                <input type="button" value="Leermiddelen tonen" name="btn_collapseLearnTool" class="btn btn-avans" data-toggle="collapse" data-target="#collapseLearnTool">

                <div id="collapseLearnTool" class="panel-collapse collapse open">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Leermiddel</th>
                        </tr>
                        @foreach ( var x in Model.LearningTool.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => x.Description )</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="container">
                <p>Weekplanning</p>
                <input type="button" value="Weekplanning tonen" name="btn_collapseWeekSchedule" class="btn btn-avans" data-toggle="collapse" data-target="#collapseWeekSchedule">

                <div id="collapseWeekSchedule" class="panel-collapse collapse open">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Weeknr</th>
                            <th>Onderwerp</th>
                        </tr>
                        @foreach ( var i in Model.WeekSchedule.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => i.WeekNr )</td>
                                <td>@Html.DisplayFor( model => i.Description )</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>


            <div class="container">
                <p>Beoordelingen</p>
                <input type="button" value="Beoordelingen tonen" name="btn_collapseGradetype" class="btn btn-avans" data-toggle="collapse" data-target="#collapseGradetype">

                <div id="collapseGradetype" class="panel-collapse collapse open">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Onderwerp</th>
                        </tr>
                        @foreach ( var x in Model.GradeType.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => x.GradeDescription )</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>


            <div class="container">
                <p>Toetscode</p>
                <input type="button" value="Toetscode tonen" name="btn_collapseAssignmentCode" class="btn btn-avans" data-toggle="collapse" data-target="#collapseAssignmentCode">

                <div id="collapseAssignmentCode" class="panel-collapse collapse open">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Omschrijving</th>
                            <th>EC</th>
                        </tr>

                        @foreach ( var i in Model.AssignmentCode.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => i.Description )</td>
                                <td>@Html.DisplayFor( model => i.EC )</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="container">
                <p>Werkvorm</p>
                <input type="button" value="Werkvorm tonen" name="btn_collapseWorkform" class="btn btn-avans" data-toggle="collapse" data-target="#collapseWorkform">

                <div id="collapseWorkform" class="panel-collapse collapse open">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Werkvorm</th>
                            <th>Duur</th>
                            <th>Frequentie</th>
                            <th>Studiebelasting</th>
                        </tr>

                        @foreach ( var i in Model.ModelWithWorkform.Where( c => c.Workform.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.DisplayFor( model => i.Workform.Description )</td>
                                <td>@Html.DisplayFor( model => i.Duration ) Weken</td>
                                <td>@Html.DisplayFor( model => i.Frequency )</td>
                                <td>@Html.DisplayFor( model => i.Workload )</td>

                            </tr>
                        }

                    </table>
                </div>
            </div>


            <div class="container">
                <p>Leerlijnen</p>
                <input type="button" value="Leerlijnen tonen" name="btn_collapseLearnline" class="btn btn-avans" data-toggle="collapse" data-target="#collapseLearnline">

                <div id="collapseLearnline" class="panel-collapse collapse open">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Naam</th>
                            <th>Omschrijving</th>
                        </tr>

                        @foreach ( var i in Model.LearnLine.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.ActionLink( i.Title, "../Leerlijn/Details", new { id = i.LearnLine_ID } )</td>

                                <td>@Html.DisplayFor( model => i.Definition )</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>


            <div class="container">
                <p>Thema's</p>
                <input type="button" value="Thema's tonen" name="btn_collapseTheme" class="btn btn-avans" data-toggle="collapse" data-target="#collapseTheme">

                <div id="collapseTheme" class="panel-collapse collapse open">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Naam</th>
                            <th>Omschrijving</th>
                        </tr>

                        @foreach ( var i in Model.Theme.Where( c => c.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.ActionLink( i.Title, "../Theme/Details", new { id = i.Theme_ID } )</td>
                                <td>@Html.DisplayFor( model => i.Definition )</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="container">
                <p>Compententie's</p>
                <input type="button" value="Compententie's tonen" name="btn_collapseCompetence" class="btn btn-avans" data-toggle="collapse" data-target="#collapseCompetence">

            <div id="collapseCompetence" class="panel-collapse collapse open">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Titel</th>
                        <th>Omschrijving</th>
                    </tr>
                    @foreach (var i in Model.Level.Where(c => c.Competence.isDeleted == false))
                    {
                    <tr>
                        <td>@Html.ActionLink(i.Competence.Title, "../Competence/Details", new { id = i.Competence_ID })</td>
                        <td>@Html.DisplayFor(model => i.Competence.Definition_Short)</td>
                    </tr>
                    }
                </table>
                </div>
            </div>

            <div class="container">
                <p>Studierichting</p>
                <input type="button" value="Studierichting tonen" name="btn_collapseStudy" class="btn btn-avans" data-toggle="collapse" data-target="#collapseStudy">

                <div id="collapseStudy" class="panel-collapse collapse open">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Studiericting</th>
                            <th>Blok</th>
                            <th>Fasering</th>
                        </tr>

                        @foreach ( var i in Model.ModuleStudyPhasingBlock.Where( c => c.Study.isDeleted == false ) ) {
                            <tr>
                                <td>@Html.ActionLink( i.Study.Title, "../Study/Details", new { id = i.Study_ID } )</td>
                                <td>@Html.ActionLink( i.Block.Title, "../Block/Details", new { id = i.Block_ID } )</td>
                                <td>@Html.ActionLink( i.Phasing.Title, "../Phasing/Details", new { id = i.Phasing_ID } )</td>

                            </tr>
                        }

                    </table>
                </div>
            </div>

            <br />

        </div>


    </fieldset>

    <p>
        @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditModule" ) ) {
            @Html.ActionLink( "Aanpassen", "Edit", null, new { id = Model.Module_ID }, new { @class = "btn btn-warning" } )
        }
        @*@if ( Waterval.Controllers.OAuthController.IsUserInRole( "DeleteModule" ) ) {
            <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />
        }|*@
        @Html.ActionLink( "Terug naar Index", "Index" )
    </p>
</div>
