@model DomainModel.Models.Module
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<h2>Module aanpassen: @Model.Title</h2>

@using (Html.BeginForm("Edit", "Module", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.Module_ID)
        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Module aanpassen" class="btn btn-success" /> |
            @Html.ActionLink("Terug naar Index", "Index")
        </p>
    </fieldset>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ScriptModule.js"></script>


}
