@model Waterval.Models.Modules
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Modulen Aanpassen:  @Model.Titel </h2>
    <table class="table table-striped table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Titel)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Titel ,new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Beschrijving, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Vakcode)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Vakcode, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Organisatie)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Organisatie, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Studiebelasting)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Studiebelasting, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Werkvorm)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Werkvorm, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Ingangsniveau)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Ingangsniveau, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Leerdoelen)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Leerdoelen, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BeschrijvingLang)
            </td>
            <td>
                @Html.TextBoxFor(model => model.BeschrijvingLang, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Beoordelingen)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Beoordelingen, new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <div class="container">
        <p>Thema's</p>
        <table class="table table-bordered table-striped">
            <tr>
    

                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Verwijderen</th>
            </tr>
            <tr>
                <td>@Html.ActionLink("Programeren", "Details", "Thema")</td>
                <td>Het leren van programeren</td>
                <td>
                    @Html.ActionLink("Verwijderen", "", null, new { @class = "btn btn-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Onderzoek", "Details", "Thema")</td>
                <td>Het leren van Onderzoek doen in een groep</td>
                <td>
                    @Html.ActionLink("Verwijderen", "", null, new { @class = "btn btn-danger" })
                </td>

        </table>
        <input type="button" value="Thema Toevoegen" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThema">

        <br />
        <br />
        <div id="collapseThema" class="panel-collapse collapse open">
            <div class="alert-danger">Geen Thema's over!</div>

            <form action="" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="searching" />
                </div>

            </form>
      
            <table class="table table-striped table-bordered">
                <caption></caption>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Toevoegen</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <div class="container">
        <p>Compententie's</p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Titel</th>
                <th>Omschrijving</th>
                <th>Verwijderen</th>
            </tr>
            <tr>
                <td>@Html.ActionLink("Procesanalyse uitvoeren", "Details", "Compententie")</td>
                <td>De student is in staat om een procesanalyse uit te voeren.</td>
                <td><input type="button" value="Verwijderen" name="ComAd" class="btn btn-danger"></td>
            </tr>
        </table>


        <input type="button" value="Compententie Toevoegen" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseDoel">

        <br />
        <br />
        <div id="collapseDoel" class="panel-collapse collapse open">
            <form action="" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="seraching" />
                </div>

            </form>

            <table class="table table-striped table-bordered">
                <caption></caption>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Toevoegen</th>
                    </tr>
                </thead>

               
                <tr>
                    <td>@Html.ActionLink("Informatieanalyse uitvoeren", "Details", "Compententie")</td>
                    <td><input type="submit" class="btn btn-success" name="Delete" value="Toevoegen" /></td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Over inzet van ICT adviseren", "Details", "Compententie")</td>
                    <td><input type="submit" class="btn btn-success" name="Delete" value="Toevoegen" /></td>
                </tr>

            </table>
        </div>
    <br />
    <div class="container">
        <p>
            @Html.ActionLink("Module Aanpassen", "", null, new { @class = "btn btn-success" })
            |
            @Html.ActionLink("Terug naar Index", "Index")
        </p>
    </div>
</div>
