
@model MvcApplication1.Models.ModuleList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Module</h2>
    <div class="container">
        <table class="table table-striped table-bordered">
            <caption></caption>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Beschrijving</th>
                    <th>Vakcode</th>
                    <th>Studiebelasting</th>
                    <th>Werkvorm</th>
                    <th>Ingangsniveau</th>
                    <th>Organisatie</th>
                    <th>Leerdoelen</th>
                    <th>Beoordelingen</th>
                    <th>Aanpassen</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            @foreach (var c in Model.mods)
            {
                <tr>
                    <td>@Html.ActionLink(c.Titel, "Details", new { modelname = c.Titel })</td>
                    <td>@c.Beschrijving </td>
                    <td>@c.Vakcode </td>
                    <td>@c.Studiebelasting </td>
                    <td>@c.Werkvorm </td>
                    <td>@c.Ingangsniveau </td>
                    <td>@c.Organisatie </td>
                    <td>@c.Leerdoelen </td>
                    <td>@c.Beoordelingen</td>
                    <td><input type="submit" class="btn btn-warning" name="Edit" value="Aanpassen" /></td>
                    <td><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /></td>
                </tr>
            }
            </table>
    </div>
    @Html.ActionLink("Nieuwe Module", "Index", null, new { @class = "btn btn-success" })
   
</div>
