
@model MvcApplication1.Models.Modules

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Proj 5</h2>
    <fieldset>
        <table class="table table-striped">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Titel)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Titel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Beschrijving)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Vakcode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Vakcode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Organisatie)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Organisatie)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Studiebelasting)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Studiebelasting)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Werkvorm)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Werkvorm)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Ingangsniveau)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Ingangsniveau)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Leerdoelen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Leerdoelen)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Beschrijving)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Beoordelingen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Beoordelingen)
                </td>
            </tr>





        </table>


        <div class="container">
            <p>Thema's</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Naam</th>
                    <th>Omschrijving</th>
                </tr>
                <tr>
                    <td>Programeren</td>
                    <td>Het leren van programeren</td>
                </tr>
                <tr>
                    <td>Onderzoek</td>
                    <td>Het leren van Onderzoeken</td>
                </tr>
            </table>

        </div>

        <div class="container">
            <p>Compententie's</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Titel</th>
                    <th>Omschrijving</th>
                </tr>
                <tr>
                    <td>Programeren</td>
                    <td>Het leren van programeren</td>
                </tr>
                <tr>
                    <td>Communiceren</td>
                    <td>Het leren van Communiceren in een groep</td>
                </tr>
            </table>

        </div>

    </fieldset>

    <p>
        @Html.ActionLink("Terug naar Index", "Index")
    </p>
</div>
