

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Thema Overzicht</h2>
    <input type="text" class="form-control" placeholder="filter blokken...">

    <table class="table-bordered table-striped">
        <tr>
            <th>Titel</th>
            
            <th>Aanpassen</th>
            <th>Verwijderen</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("Blok 1", "Details")</td>
           

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                @Html.ActionLink("Verwijderen", null, null, new { @class = "btn btn-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Blok 2", "Details")</td>
            

            <td>@Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
            <td>
                @Html.ActionLink("Verwijderen", null, null, new { @class = "btn btn-danger" })
            </td>
        </tr>


    </table>

    @Html.ActionLink("Nieuw Blok", "Index", null, new { @class = "btn btn-success" })
</div>