@model DomainModel.Models.Competence
@using DomainModel.Models;

<div class="form-group">
    @Html.Label("Titel", new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", id = "title" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
</div>


<div class="form-group">
    @Html.Label("Omschrijving Kort", new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Definition_Short, new { @class = "form-control", id = "short" })
        @Html.ValidationMessageFor(model => model.Definition_Short)
    </div>
</div>

<div class="form-group hidden">
    @Html.LabelFor(model => model.Definition_Long, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextAreaFor(model => model.Definition_Long, new { @class = "form-control hidden", id = "long", @style = "height:250px" })
        @Html.ValidationMessageFor(model => model.Definition_Long);
    </div>
</div>


<div class="form-group">
    <div class="container">
        <p>

            @Html.Label("Doelen Toevoegen", new { @class = "col-sm-2 control-label" })
        </p>
        <div id="ValidationMes" class="alert alert-danger">
            Minstens een doel verplicht

        </div>
        <br /><br />
        <table class="table table-bordered table-striped table-responsive" id="LongTable">
            <thead>
                <tr>
                    <th width="85%">Omschrijving</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            @if (Model.Competence_ID > 0)
            {
                foreach (string _string in Model.Definition_Long.Split('\n'))
                {
                    <tr>
                        <td><input type="text" class="form-control" id="field_description" value="@_string" /></td>
                        <td><input type="button" value="Verwijderen" id="btn_delete" class="btn btn-danger" /></td>
                    </tr>
                }
            }


        </table>
        <input type="button" value="Doel Toevoegen" name="btn_collapseGoal" class="btn btn-avans" data-toggle="collapse" data-target="#collapseDoel">


        <br />
        <br />
        <div id="collapseDoel" class="panel-collapse collapse open">
            <form action="" class="form-inline">
                <table class="table">
                    <tr>
                        <td width="60%">
                            <input type="text" class="form-control" placeholder="doel..." name="TempValue" style:size="10" />
                        </td>
                        <td width="10%">
                            <input type="button" value="Toevoegen" name="addGoal" class="btn btn-avans">
                        </td>

                        <td width="10%">
                            <input type="button" value="Toevoegen Na" name="addGoalBetween" class="btn btn-avans">
                        </td>
                        <td width="20%">
                            <select id="selecteer" class="form-control"><option value="-1" disabled selected>Maak een keuze</option></select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


</div>

<div class="form-group">
    <div class="container">
        <p>

            @Html.Label("Modulen Toevoegen", new { @class = "control-label" })
        </p>
        <div id="ValidationMesMod" class="alert alert-danger hidden">
            Minstens een Module verplicht
        </div>
        <br /><br />
        <table class="table table-bordered table-striped table-responsive" id="ModTable">
            <thead>
                <tr>
                    <th width="20%">Vakcode</th>
                    <th width="50%">Omschrijving</th>
                    <th width="15%">Niveau</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>

            <tr>
                <td>Project-05</td>
                <td>Project Waterval</td>
                <td><input type="number" value=0 name="numbers" class="form-control" /></td>
                <td><input type="button" value="Verwijderen" id="btn_delete" class="btn btn-danger" /></td>
            </tr>

        </table>
        <input type="button" value="Module Toevoegen" name="btn_collapseGoal" class="btn btn-avans" data-toggle="collapse" data-target="#collapseMod">

        <br />
        <br />
        <div id="collapseMod" class="panel-collapse collapse open">
          
                <input type="text" class="form-control" placeholder="Module..." name="TempValue" id="searchTerm" onkeyup="doSearch('ModTable')" style:size="10" />
           

            <table class="table table-bordered table-striped" id="ModTable">
                <thead>
                    <tr>
                        <th>Vakcode</th>
                        <th>Omschrijving</th>
                        <th>Toevoegen</th>
                    </tr>

                </thead>
        
                    <tr>
                        <td id="1">Pr-01</td>
                        <td id="2">Programeren 1</td>
                        <td><input type="button" value="Toevoegen" name="addMod" class="btn btn-avans" id="1"></td>
                    </tr>
                <tr>
                    <td>DB-01</td>
                    <td>Database 1</td>
                    <td><input type="button" value="Toevoegen" name="addMod" class="btn btn-avans"></td>
                </tr>
              
            </table>
        </div>
    </div>


</div>

<hr />
@Html.Partial("~/Views/Shared/_Alert.cshtml")
