@model DomainModel.Models.Competence
@using DomainModel.Models;

<div class="form-group">
    @Html.Label("Titel", new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", id = "title" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
</div>


<div class="form-group">
    @Html.Label("Omschrijving Kort", new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Definition_Short, new { @class = "form-control", id = "short" })
        @Html.ValidationMessageFor(model => model.Definition_Short)
    </div>
</div>

<div class="form-group hidden">
    @Html.LabelFor(model => model.Definition_Long, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-10">
        @Html.TextAreaFor(model => model.Definition_Long, new { @class = "form-control", id = "long", @style = "height:250px" })
        @Html.ValidationMessageFor(model => model.Definition_Long);
    </div>
</div>


<div class="form-group">
    <div class="container">
        <p>

            @Html.Label("Doelen Toevoegen", new { @class = "col-sm-2 control-label" })
        </p>
        <div id="ValidationMes" class="alert alert-danger">
            Minstens een doel verplicht
        </div>
        <br /><br />
        <table class="table table-bordered table-striped table-responsive" id="LongTable">
            <thead>
                <tr>
                    <th width="85%">Omschrijving</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            @if (!string.IsNullOrEmpty(Model.Definition_Long))
            {
                foreach (string _string in Model.Definition_Long.Split('\n'))
                {
                    <tr>
                        <td><input type="text" class="form-control" id="field_description" value="@_string" /></td>
                        <td><input type="button" value="Verwijderen" id="btn_delete" class="btn btn-danger" /></td>
                    </tr>
                }
            }


        </table>
        <input type="button" value="Doel Toevoegen" name="btn_collapseGoal" class="btn btn-avans" data-toggle="collapse" data-target="#collapseDoel">


        <br />
        <br />
        <div id="collapseDoel" class="panel-collapse collapse open">
            <form action="" class="form-inline">
                <table class="table">
                    <tr>
                        <td width="60%">
                            <input type="text" class="form-control" placeholder="doel..." name="TempValue" style:size="10" />
                        </td>
                        <td width="10%">
                            <input type="button" value="Toevoegen" name="addGoal" class="btn btn-avans">
                        </td>

                        <td width="10%">
                            <input type="button" value="Toevoegen Na" name="addGoalBetween" class="btn btn-avans">
                        </td>
                        <td width="20%">
                            <select id="selecteer" class="form-control"><option value="-1" disabled selected>Maak een keuze</option></select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


</div>

<div class="form-group">
    <div class="container">
        <p>

            @Html.Label("Modulen Toevoegen", new { @class = "control-label" })
        </p>
        <div id="ValidationMesMod" class="alert alert-danger hidden">
            Minstens een Module verplicht
        </div>
        <br /><br />
        <table class="table table-bordered table-striped table-responsive" id="ModTable">
            <thead>
                <tr>
                    <th width="20%">Vakcode</th>
                    <th width="20%">Title</th>
                    <th width="50%">Omschrijving</th>
                    <th width="10%">Niveau</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.Level)
                {
                    if (item.Module.isDeleted) { continue; }
                    <tr id="@item.Module_ID">
                     <td>
                            @item.Module.CourseCode <input type="text" id="@item.Module_ID" class="hidden" />
                    </td>
                    <td>@item.Module.Title</td>
                    <td>@item.Module.Definition_Short</td>
                        @{string test = "Level" + item.Module_ID;}
                    <td><input type="number" class="form-control" id="level" name="@test"  value="@Convert.ToInt16(@item.Level1)" /></td>
                    <td><input type="button" value="Verwijderen" id="btn_deleteMod" data-id="@item.Module_ID" class="btn btn-danger" />
                </tr>
                }
            </tbody>
        </table>

        <input type="button" value="Module Toevoegen" name="btn_collapseGoal" class="btn btn-avans" data-toggle="collapse" data-target="#collapseMod">

        <br />
        <br />
        <div id="collapseMod" class="panel-collapse collapse open">

            <input type="text" class="form-control" placeholder="Module..." name="TempValue" id="searchTerm" onkeyup="doSearch('ModTable')" style:size="10" />


            <table class="table table-bordered table-striped" id="TableMod">
                <thead>
                    <tr>

                        <th>Vakcode</th>
                        <th>Title</th>
                        <th>Omschrijving</th>
                        <th>Toevoegen</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Laat alle modules zien die nog niet zijn verwerkt -->
                    @foreach (Module item in @ViewBag.ModuleList)
                    {
                        <tr id="@item.Module_ID">
                            <td id="CourseCode">@item.CourseCode</td>
                            <td>@item.Title</td>
                            <td>@item.Definition_Short</td>
                            <td><input type="button" value="+" id="btn_addMod" data-id="@item.Module_ID" class="btn btn-avans" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

  
    
    
    <input type="text" name="ModulesTogether" class="hidden form-control" />

    <div class="container">
        @if (Model.PrevCompetence_ID != null)
        {
            <div class="container">
                @Html.ActionLink("Vorige versie", "Details", new { id = Model.PrevCompetence_ID }, new { @class = "btn btn-avans" })
            </div>
        }

        @if (@ViewBag.NewID > 0)
        {
            <div class="container">
                @Html.ActionLink("Nieuwere versie", "Details", new { id = @ViewBag.NewID }, new { @class = "btn btn-avans" })
            </div>
        }
    </div>
</div>

<hr />
@Html.Partial("~/Views/Shared/_Alert.cshtml")
