@model DomainModel.Models.Competence
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")




@using (Html.BeginForm("Create", "Competence", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{

    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @Html.Partial("_CreateOrEdit", null)
        <p>
            <input type="submit" value="Compententie opslaan" name="btn_Save" class="btn btn-success" /> |
            @Html.ActionLink("Terug naar Index", "Index")
        </p>

    </fieldset>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/competentieScripts.js"></script>

}
