@model DomainModel.Models.Competence
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Compententie Details:@Model.Title</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Titel</th>
            <th>Omschrijving kort</th>
        </tr>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Definition_Short</td>
        </tr>
    </table>



    <p>Doelen</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Omschrijving lang</th></tr>
        </thead>
        <tr>
            <td>
                <ul>
                    @foreach (string _string in Model.Definition_Long.Split('\n'))
                    {
                        <li>@_string</li>
                    }
                </ul>
            </td>
        </tr>
    </table>



    <p>Behoort toe aan modules:</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Vakcode</th>
                <th>Module</th>
                <th>Omschrijving</th>
                <th>Niveau</th>
            </tr>
        </tbody>
        @foreach (var item in Model.Level)
        {
            <tr>
                <td>@Html.ActionLink(@item.Module.CourseCode.ToString(), "Details", "Module", new { id = item.Module_ID }, null)</td>
                <td>@item.Module.Title</td>
                <td>@item.Module.Definition_Short</td>
                <td>@item.Level1</td>
            </tr>
        }
    </table>
    <hr />
    <p>
        @if (Model.PrevCompetence_ID != null)
        {

            @Html.ActionLink("Vorige versie", "Details", new { id = Model.PrevCompetence_ID }, new { @class = "btn btn-avans" })

        }

        @if (@ViewBag.NewID > 0)
        {

            @Html.ActionLink("Nieuwere versie", "Details", new { id = @ViewBag.NewID }, new { @class = "btn btn-avans" })

        }
    </p>
    <hr />

    <p>
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Competence_ID }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Geneer PDF", "GeneratePDF", new { id = Model.Competence_ID }, new { @class = "btn btn-avans" })
        @Html.ActionLink("Terug naar Index", "Index")
    </p>
</div>