@model PagedList.IPagedList<DomainModel.Models.Competence>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Compententies</h2>
    @using ( Html.BeginForm( "Index", "Competence", FormMethod.Get ) ) {
        @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Zoeken in competenties", @class = "form-control" } )
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    }
    <div class="container">
        @*<input class="form-control" type="text" placeholder="search..." id="searchTerm" onkeyup="doSearch('indexTable')" />*@
        <table class="table table-striped table-bordered" id="indexTable">
            <caption></caption>
            <thead>
                <tr>
                    <th>@Html.ActionLink( "Titel", "Index", new { sortOrder = ViewBag.NameSortParm } )</th>
                    <th>Omschrijving Kort</th>
                    <th>Zie Modules</th>
                    <th>Aanpassen</th>
                    <th>Verwijderen</th>
                    <th>Nieuwe Versie</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {


                <tr>
                    <td>@Html.ActionLink(item.Title, "Details", new { id = item.Competence_ID })</td>
                    <td>@item.Definition_Short</td>
                    <td>@Html.ActionLink("Open Modules", "Index", "Module", new { id = item.Competence_ID }, new { @class = "btn btn-avans" })</td>
                    <td>@Html.ActionLink("Aanpassen", "Edit", new { id = item.Competence_ID }, new { @class = "btn btn-warning" })</td>
                    <td><input type="button" value="Verwijderen" data-name="@item.Title" data-id="@item.Competence_ID" class="btn btn-danger"></td>
                    <td>@Html.ActionLink("Nieuwe versie", "toNewVersion", new { id = item.Competence_ID }, new { @class = "btn btn-avans" })</td>
                </tr>   }


        </table>
    </div>
    @Html.ActionLink("Nieuwe Compententie", "Create", null, new { @class = "btn btn-success" })

</div>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@section Scripts {
    <script>
        $('input[type="button"]').click(function (e) {
            var title = $(this).attr('data-name');
            var id = $(this).attr('data-id');

            if (confirm('Gegevens van ' + title + ' verwijderen?')) {
                var url = "/Competence/Delete";

                $.post(url, { Competence_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
                    $("#msg").html(data);
                });
                $(this).closest('tr').remove()
            }
        })
    </script>

<script src="~/Scripts/Filter.js"></script>
}
