@model DomainModel.Models.Block
@{
    ViewBag.Title = "Blok Aanpassen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
<h2>Blok aanpassen</h2>

@using (Html.BeginForm("Edit", "Block", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@*Hier het Bloknummer*@</legend>
        @Html.HiddenFor(model => model.Block_ID)
        @Html.Partial("_CreateOrEdit", Model)@*null moet Model worden*@

        <p>
            <input type="submit" value="Blok aanpassen" class="btn btn-success" /> |
            @Html.ActionLink("Terug naar Index", "Index")
        </p>
    </fieldset>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

