@*@model IEnumerable<DomainModel.Models.Block>*@
@model PagedList.IPagedList<DomainModel.Models.Block>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )




<div class="container">
    <h2>Blok Overzicht</h2>
    @*<input type="text" class="form-control" placeholder="filter blokken...">*@

    @using ( Html.BeginForm( "Index", "Block", FormMethod.Get ) ) {
        <p>
            Zoeken op Titel: @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string )
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table table-bordered table-striped">
        <tr>
            <th>@Html.ActionLink( "Title", "Index", new { sortOrder = ViewBag.NameSortParm } )</th>

            <th>Aanpassen</th>
            <th>Verwijderen</th>
        </tr>
        <tr>

            @foreach ( var item in Model ) {
            <tr>

                <td>
                    @Html.ActionLink( item.Title, "Details", new { id = item.Block_ID } )
                </td>

                <td>
                    @Html.ActionLink( "Aanpassen", "Edit", new { id = item.Block_ID }, new { @class = "btn btn-warning" } )
                </td>
                <td>
                    <input type="button" value="Verwijderen" data-name="@item.Title" data-id="@item.Block_ID" class="btn btn-avans">
                </td>
            </tr>
            }

        </table>

        @Html.ActionLink( "Nieuw Blok", "Create", null, new { @class = "btn btn-success" } )
    </div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager( Model, page => Url.Action( "Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter } ) )


    @section Scripts {
        <script>
            $('input[type="button"]').click(function (e) {
                var title = $(this).attr('data-name');
                var id = $(this).attr('data-id');

                if (confirm('Gegevens van ' + title + ' verwijderen?')) {
                    var url = "/Blok/Delete";

                    $.post(url, { Block_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
                        $("#msg").html(data);
                    });
                    $(this).closest('tr').remove()
                }
            })
        </script>
    }