@model PagedList.IPagedList<DomainModel.Models.Block>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Blokken";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")




<div class="container">
	<h2>Blokken</h2>
	 @using ( Html.BeginForm( "Index", "Block", FormMethod.Get ) ) {
        <div class="input-group input-group">
            @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Zoeken in blokken", @class = "form-control" } )
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    }
    <br/>

	<table class="table table-bordered table-striped">
		<tr>
			<th>@Html.ActionLink("Titel", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
			@if(Waterval.Controllers.OAuthController.IsUserInRole("EditBlock"))
			{
				<th>Aanpassen</th>
			}
			@if(Waterval.Controllers.OAuthController.IsUserInRole("DeleteBlock"))
			{
				<th>Verwijderen</th>
			}
		</tr>
		<tr>

			@foreach(var item in Model)
			{
			<tr>
				<td>@Html.ActionLink(item.Title, "Details", new { id = item.Block_ID })</td>
				@if(Waterval.Controllers.OAuthController.IsUserInRole("EditBlock"))
				{
					<td>@Html.ActionLink("Aanpassen", "Edit", new { id = item.Block_ID }, new { @class = "btn btn-warning" })</td>
				}
				@if(Waterval.Controllers.OAuthController.IsUserInRole("DeleteBlock"))
				{
					<td><input type="button" value="Verwijderen" data-name="@item.Title" data-id="@item.Block_ID" class="btn btn-danger"></td>
				}
			</tr>
			}
		</table>
		@if(Waterval.Controllers.OAuthController.IsUserInRole("CreateBlock"))
		{
			@Html.ActionLink("Nieuw Blok", "Create", null, new { @class = "btn btn-success" })
		}
	</div>
	<br />
	Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

	@section Scripts {
		<script>
			$('input[type="button"]').click(function (e) {
				var title = $(this).attr('data-name');
				var id = $(this).attr('data-id');

				if (confirm('Gegevens van ' + title + ' verwijderen?')) {
					var url = "/Block/Delete";

					$.post(url, { Block_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
						$("#msg").html(data);
					});
					$(this).closest('tr').remove()
				}
			})
		</script>
	}
