@model IEnumerable<DomainModel.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountRole.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountRole.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Account_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Account_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Account_ID })
        </td>
    </tr>
}

</table>
