@model DomainModel.Models.Program

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )
<div class="container">
    <h2>Opleiding Details: @Html.DisplayFor(model => model.Cohort)</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    @Html.LabelFor( model => model.Cohort )
                </td>
                <td>
                    @Html.DisplayFor( model => model.Cohort )
                </td>
            </tr>
        </table>
    </fieldset>

    <p>
        @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditProgram" ) ) {
            @Html.ActionLink( "Aanpassen", "Edit", null, new { @class = "btn btn-warning" } )
        }
        @Html.ActionLink( "Terug naar Index", "Index" )
    </p>
</div>
