@model DomainModel.Models.Program
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<h2>Opleiding aanpassen: @Model.Cohort</h2>

@using (Html.BeginForm("Edit", "Program", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.Program_ID)
        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Opleiding aanpassen" class="btn btn-success" /> |
            @Html.ActionLink("Terug naar Index", "Index")
        </p>
    </fieldset>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ProgramScript.js"></script>
<script src="~/Scripts/Filter.js"></script>

}
