@model DomainModel.Models.Phasing
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
	<h2>Fasering Details</h2>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Titel</th>
			</tr>
		</thead>
		<tr>
            <td>@Model.Title</td>
		</tr>
	</table>

    @foreach (var stud in Model.ModuleStudyPhasingBlock.Select(b => new { Block_ID = b.Block_ID, Block_Name = b.Block.Title }).Distinct())
    {
        <input type="button" value="@stud.Block_Name" name="btn_collapseGoal" class="btn btn-avans" data-toggle="collapse" data-target='#@stud.Block_ID'>
        <br />    <br />
        <div>
            <div id=@stud.Block_ID class="panel-collapse collapse in">

                @Html.ActionLink(stud.Block_Name, "Details", "Block", new { id = stud.Block_ID }, null)
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Module</th>
                        <th>Studierichting</th>
                    </tr>

                    @foreach (var item in Model.ModuleStudyPhasingBlock.Where(s => s.Block_ID == stud.Block_ID))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Module.Title, "Details", "Module", new { id = item.Module_ID }, null)

                            </td>
                            <td>
                                @Html.ActionLink(item.Study.Title, "Details", "Phasing", new { id = item.Phasing_ID }, null)
                            </td>

                        </tr>
                    }
                </table>
            </div>
        </div>

        <br />
    }




	<p>
@if(Waterval.Controllers.OAuthController.IsUserInRole("EditPhasing")) {
		@Html.ActionLink("Aanpassen", "Edit", new { id = Model.Phasing_ID }, new { @class = "btn btn-warning" })
}
        
                @if(Waterval.Controllers.OAuthController.IsUserInRole("DeletePhasing")) {
		<br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br/>
                }| 
		@Html.ActionLink("Terug naar Index", "Index")
	</p>
</div>