@model DomainModel.Models.Phasing
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
<h2>Fase Aanpassen: @Model.Title</h2>

@using(Html.BeginForm("Edit", "Phasing", new { ReturnUrl = ViewBag.ReturnUrl },
			FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend></legend>
		@Html.HiddenFor(model => model.Phasing_ID)
		@Html.Partial("_CreateOrEdit", Model)

		<p>
            <input type="submit" value="Fase '@Model.Title' Aanpassen" class="btn btn-success" /> |
			@Html.ActionLink("Terug naar Index", "Index")
		</p>
	</fieldset>

}