@model IEnumerable<DomainModel.Models.Phasing>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )

<div class="container">
    <h2>Fasering Overzicht</h2>
    <div class="input-group input-group">
        <input class="form-control" type="text" placeholder="Zoeken in faseringen" id="searchTerm" onkeyup="doSearch('indexTable')" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditPhasing" ) ) {
                    <th>Aanpassen</th>
                }
                @if ( Waterval.Controllers.OAuthController.IsUserInRole( "DeletePhasing" ) ) {
                    <th>Verwijderen</th>
                }
            </tr>
        </thead>
        @foreach ( var item in Model ) {
            <tr>
                <td>@Html.ActionLink( item.Title, "Details", new { id = item.Phasing_ID } )</td>
                @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditPhasing" ) ) {
                    <td>@Html.ActionLink( "Aanpassen", "Edit", new { id = item.Phasing_ID }, new { @class = "btn btn-warning" } )</td>
                }
                @if ( Waterval.Controllers.OAuthController.IsUserInRole( "DeletePhasing" ) ) {
                    <td>
                        <input type="button" value="Verwijderen" data-name="@item.Title" data-id="@item.Phasing_ID" class="btn btn-danger">
                    </td>
                }
            </tr>
        }
    </table>
    @if ( Waterval.Controllers.OAuthController.IsUserInRole( "CreatePhasing" ) ) {
        @Html.ActionLink( "Nieuwe Fase", "Create", null, new { @class = "btn btn-success" } )
    }
</div>

@section Scripts {
    <script>
        $('input[type="button"]').click(function (e) {
            var title = $(this).attr('data-name');
            var id = $(this).attr('data-id');

            if (confirm('Gegevens van ' + title + ' verwijderen?')) {
                var url = "/Phasing/Delete";

                $.post(url, { Phasing_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
                    $("#msg").html(data);
                });
                $(this).closest('tr').remove()
            }
        })
    </script>

    <script src="~/Scripts/Filter.js"></script>
}