@model PagedList.IPagedList<DomainModel.Models.LearnLine>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<div class="container">
    <h2>Leerlijnen</h2>
    <div class="container">
        @using ( Html.BeginForm( "Index", "LearnLine", FormMethod.Get ) ) {
            <div class="input-group input-group">
                @Html.TextBox( "SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Zoeken in leerlijnen", @class = "form-control" } )
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        }
        <br />
        <table class="table table-striped table-bordered" id="indexTable">
            <caption></caption>
            <thead>
                <tr>
                    <th>@Html.ActionLink( "Titel", "Index", new { sortOrder = ViewBag.NameSortParm } )</th>
                    <th>Omschrijving</th>
                    <th>Aanpassen</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            @foreach ( var item in Model ) {
                <tr>
                    <td>@Html.ActionLink( item.Title, "Details", new { id = item.LearnLine_ID } )</td>
                    <td>@item.Definition</td>
                    <td>@Html.ActionLink( "Aanpassen", "Edit", new { id = item.LearnLine_ID }, new { @class = "btn btn-warning" } )</td>
                    <td><input type="button" value="Verwijderen" data-name="@item.Title" data-id="@item.LearnLine_ID" class="btn btn-danger"></td>
                </tr>
            }
        </table>
        @Html.ActionLink( "Nieuwe Leerlijn", "Create", null, new { @class = "btn btn-success" } )
    </div>



    <br />
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount

    @Html.PagedListPager( Model, page => Url.Action( "Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter } ) )


</div>
@section Scripts {
    <script>
        $('input[type="button"]').click(function (e) {
            var title = $(this).attr('data-name');
            var id = $(this).attr('data-id');

            if (confirm('Gegevens van ' + title + ' verwijderen?')) {
                var url = "/LearnLine/Delete";

                $.post(url, { LearnLine_ID: id, Title: title, isDeleted: false, DeleteDate: 0 }, function (data) {
                    $("#msg").html(data);
                });
                $(this).closest('tr').remove()
            }
        })
    </script>

    <script src="~/Scripts/Filter.js"></script>
}