@model DomainModel.Models.Study

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )
<div class="container">
    <h2>@Html.DisplayFor( model => model.Title )</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor( model => model.Title )
                </td>
                <td>
                    @Html.DisplayFor( model => model.Title )
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor( model => model.StudyCode )
                </td>
                <td>
                    @Html.DisplayFor( model => model.StudyCode )
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor( model => model.Definition )
                </td>
                <td>
                    @Html.DisplayFor( model => model.Definition )
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor( model => model.level )
                </td>
                <td>
                    @Html.DisplayFor( model => model.level )
                </td>
            </tr>
        </table>
    </fieldset>

    <p>
        @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditStudy" ) ) {
            @Html.ActionLink( "Aanpassen", "Edit", null, new { @class = "btn btn-warning" } )
        }
        @if ( Waterval.Controllers.OAuthController.IsUserInRole( "DeleteStudy" ) ) {
            <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />
        }|
        @Html.ActionLink( "Terug naar Index", "Index" )
    </p>
</div>
