@model DomainModel.Models.Study

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render( "~/Content/css" )
<div class="container">
    <h2>Opleiding Details @Html.DisplayFor(model => model.Title)</h2>
    <fieldset>
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    Studie
                </td>
                <td>
                    @Html.DisplayFor( model => model.Title )
                </td>
            </tr>
            <tr>
                <td>
                    EC
                </td>
                <td>
                    @Html.DisplayFor( model => model.StudyCode )
                </td>
            </tr>
            <tr>
                <td>
                    Omschrijving
                </td>
                <td>
                    @Html.DisplayFor( model => model.Definition )
                </td>
            </tr>
            <tr>
                <td>
                    Niveau
                </td>
                <td>
                    @Html.DisplayFor( model => model.level )
                </td>
            </tr>
        </table>
    </fieldset>

    <p>
        @if ( Waterval.Controllers.OAuthController.IsUserInRole( "EditStudy" ) ) {
            @Html.ActionLink( "Aanpassen", "Edit", new { id=Model.Study_ID}, new { @class = "btn btn-warning" } )
        } |
        @Html.ActionLink( "Terug naar Index", "Index" )
    </p>
</div>
