@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Compententie Toevoegen</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <td>Titel</td>
            <td>@Html.TextBox("name", null, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Omschrijving</td>
            <td>@Html.TextBox("oms", null, new { @class = "form-control" })</td>
        </tr>
    </table>

    <hr /><div class="container">
        <p>Aan doelen koppelen</p>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Doel </th>
                </tr>
            </tbody>
            <!-- foreach doel in doelen add een record. -->
            <tr></tr>
        </table>
        @Html.ActionLink("Doelen Toevoegen", "Index", null, new { @class = "btn btn-avans" })
    </div>
    <hr />
    <div class="container">
        <p>Aan eisen koppelen</p>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Eis</th>
                </tr>
            </tbody>

        </table>
       @Html.ActionLink("Eisen Toevoegen", "Index", null, new { @class = "btn btn-avans" })
       </div>

        <hr />
    <div class="container">
   
        <p>Aan modules Koppelen:</p>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Vakcode</th>
                    <th>Module</th>
                    <th>Omschrijving</th>
                    <th>Aanpassen</th>
                    <th>Verwijderen</th>
                </tr>
            </tbody>

        </table>
        @Html.ActionLink("Module Toevoegen", "Index", null, new { @class = "btn btn-avans" })

    </div>
    <hr />
        <div class="container">
            <p>
                @Html.ActionLink("Compententie Opslaan", "", null, new { @class = "btn btn-success" })
                |
                @Html.ActionLink("Index", "")
            </p>
        </div>
    </div>
