@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@section Scripts {


    <script>
        $('input[name="ComAd"] ').click(function () {

        });
    </script>
}



<div class="container">
    <h2>Compententie Toevoegen</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <td>Titel</td>
            <td>@Html.TextBox("name", null, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Omschrijving</td>
            <td>@Html.TextBox("oms", null, new { @class = "form-control" })</td>
        </tr>
    </table>

    <hr /><div class="container">
        <p>Doelen geven</p>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Doel </th>
                </tr>
            </tbody>
    
            <tr></tr>
        </table>
        <input type="button" value="Doelen Toevoegen" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseDoel">

        <br />
        <br />
        <div id="collapseDoel" class="panel-collapse collapse open">
            <form action="" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Geef hier een beschrijving" />
                </div>
                <div class="form-group">
                    <input type="button" value="Toevoegen" name="Geen" class="btn btn-avans">
                </div>
            </form>

       

        </div>

    </div>

    <hr />
    <div class="container">

        <p>Aan modules Koppelen:</p>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Vakcode</th>
                    <th>Module</th>
                    <th>Omschrijving</th>
                    <th>Aanpassen</th>
                    <th>Verwijderen</th>
                </tr>
            </tbody>

        </table>
        <input type="button" value="Module Toevoegen" name="ModAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseModule">

        <br /><br />
        <div id="collapseModule" class="panel-collapse collapse open">
            <div class="container">
                <input type="text" class="form-control" placeholder="search..."/>
                <table class="table table-bordered table-striped"  >
                    <thead>
                    <tr><th>Vakcode</th><th>Omschrijving</th><th>Toevoegen</th></tr>   
                    </thead>
                    <tbody>
                        <tr><td>PR-01</td><td>Programeren 1</td><td><input type="button" value="Toevoegen" name="Geen" class="btn btn-avans"></td></tr>
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>
    <hr />
    <div class="container">
        <p>
            @Html.ActionLink("Compententie Opslaan", "", null, new { @class = "btn btn-success" })
            |
            @Html.ActionLink("Index", "")
        </p>
    </div>
</div>
