

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Compententie Aanpassen: Programeren</h2>

    <table class="table-bordered table-striped">
        <tr>
            <td>Titel</td>
            <td>@Html.TextBox("name")</td>
        </tr>
        <tr>
            <td>Omschrijving</td>
            <td>@Html.TextBox("oms")</td>
        </tr>
    </table>

    <br />
    <p>Behoort toe aan modules:</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Vakcode</th>
                <th>Module</th>
                <th>Omschrijving</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tbody>
        <tr>
            <td><a>Pr-01</a></td>
            <td>Programeren 1</td>
            <td>Het leren programeren</td>
            <td>@Html.ActionLink("Aanpassen", "Index", null, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("Verwijderen", "Index", null, new { @class = "btn btn-danger" })</td>
        </tr>
        <tr>
            <td><a>DB-01</a></td>
            <td>Database 1</td>
            <td>Het leren van een database opzetten.</td>
            <td>@Html.ActionLink("Aanpassen", "Index", null, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("Verwijderen", "Index", null, new { @class = "btn btn-danger" })</td>
        </tr>
        <tr>
            <td><a>SWEN-01</a></td>
            <td>Software enginering 1</td>
            <td>Methodieken voor software engineren leren</td>
            <td>@Html.ActionLink("Aanpassen", "Index", null, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("Verwijderen", "Index", null, new { @class = "btn btn-danger" })</td>
        </tr>
    </table>
    <p>@Html.ActionLink("Module Toevoegen", "Index", null, new { @class = "btn btn-avans" })</p>


    <div class="container">
        <p>
            @Html.ActionLink("Compententie Opslaan", "", null, new { @class = "btn btn-success" })
            |
            @Html.ActionLink("Index", "")
        </p>
    </div>
</div>