@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@section Scripts {


    <script>
        $('input[name="ModDel"] ').click(function () {
            var title = $(this).attr('data-name');
            if (confirm('Gegevens van ' + title + ' verwijderen?')) {
              
                $(this).closest('tr').remove()
            }
        });


    </script>

<script>
    $('input[name="DoelDel"] ').click(function () {
        var title = $(this).attr('data-name');
        if (confirm('Geselecteerd doel verwijderen?')) {

            $(this).closest('tr').remove()
        }
    });


</script>






}


<div class="container">
    <h2>Compententie Aanpassen: Procesanalyse uitvoeren</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <td>Titel</td>
            <td>@Html.TextBox("name", "Procesanalyse uitvoeren", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Omschrijving</td>
            <td>@Html.TextBox("oms", "De student is in staat om een procesanalyse uit te voeren.", new { @class = "form-control" })</td>
        </tr>
    </table>

    <hr /><div class="container">
        <p>Aan doelen koppelen</p>

        <div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th width="85%">Omschrijving</th>
                        <th>Verwijderen</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.TextBox("oms", "0. De student is in staat om", new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger">
                    </td>
                <tr>
                    <td>
                        @Html.TextBox("oms", "1. de verschillende elementen van een proces te herkennen en onderscheiden", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", " 2. door middel van interviews te achterhalen hoe een bedrijfsproces in werkelijkheid verloopt, en waar de knelpunten zitten", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", "3. contradicties in de verschillende interviews te herkennen en op te lossen", new { @class = "form-control width='100%'" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", "4. schema’s van processen te maken die passen bij de probleemstelling en duidelijk zijn voor andere belanghebbenden", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", "5. te kunnen bepalen of de analyse volledig is ten aanzien van de probleemstelling", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", " 6. aan te geven op welke punten het proces verbeterd kan worden, of zelfs een compleet nieuw proces te", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("oms", "7. aan te geven welke keuzes gemaakt zijn tijdens het onderzoek en de analyse, en welke argumenten daarvoor gebruikt zijn", new { @class = "form-control" })
                    </td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>
                <tr>
                    <td> @Html.TextBox("oms", "8. aan te geven waar de informatie voor de analyse vandaan komt en wat de betrouwbaarheid daarvan is", new { @class = "form-control" })</td>
                    <td>  <input type="button" value="Verwijderen" name="DoelDel" class="btn btn-danger"></td>
                </tr>

            </table>
        </div>
        <input type="button" value="Doelen Toevoegen" name="ComAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseDoel">

        <br />
        <br />
        <div id="collapseDoel" class="panel-collapse collapse open">
            <form action="" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Geef hier een beschrijving" />
                </div>
                <div class="form-group">
                    <input type="button" value="Toevoegen" name="Geen" class="btn btn-avans">
                </div>
            </form>


        </div>

    </div>

    <hr />
    <div class="container">

        <p>Aan modules Koppelen:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vakcode</th>
                    <th>Module</th>
                    <th>Verwijderen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DB-01</td>
                    <td>Database 1</td>
                    <td><input type="button" value="Verwijderen" name="ModDel" class="btn btn-danger" data-name="DB-01" data-id=""></td>
                </tr>
            </tbody>

        </table>
        <input type="button" value="Module Toevoegen" name="ModAd" class="btn btn-avans" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseModule">

        <br /><br />
        <div id="collapseModule" class="panel-collapse collapse open">
            <div class="container">
                <input type="text" class="form-control" placeholder="search..." />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr><th>Vakcode</th><th>Omschrijving</th><th>Toevoegen</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>PR-01</td><td>Programeren 1</td><td><input type="button" value="Toevoegen" name="Geen" class="btn btn-avans"></td></tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <hr />




    <div class="container">
        <p>
            @Html.ActionLink("Compententie Opslaan", "", null, new { @class = "btn btn-success" })
            |
            @Html.ActionLink("Index", "")
        </p>
    </div>
</div>


